<!doctype html>
<html>
  <head>
    <title>Upload, Clean, Then Download</title><link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="js/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="css/jquery.datetimepicker.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Upload File (.csv), Clean it, then Download it as (.csv)</h1>
      <form method=post enctype=multipart/form-data>
        <div class="form-group">
          <input type=file name="file" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Type your path directory without (" ") here to save downloaded file</label>
          <input type="text" name="directory_path" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>