<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="js/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="css/jquery.datetimepicker.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <div class="container">
    <h1>Menu</h1>
    <form>
      <div class="bs-component" style="margin-bottom: 15px;">
        <div class="btn-group-vertical" data-toggle="buttons">
          <input type="submit" class="btn btn-primary" formaction="{{ url_for('read_file_to_html') }}" value="Upload csv file in (.html) format">
          <input type="submit" class="btn btn-primary" formaction="{{ url_for('upload_file') }}" value="Upload csv file, then clean it, and view file cleansing result in (.html) format">
          <input type="submit" class="btn btn-primary" formaction="{{ url_for('upload_download_file') }}" value="Upload file to cleansing automation">
          <input type="submit" class="btn btn-primary" formaction="{{ url_for('index') }}" value="Cleansing text from column 'Tweet'">
          <input type="submit" class="btn btn-primary" formaction="{{ url_for('clean') }}" value="Clean Text">
        </div>
      </div>
    </form>
  </div>
</body>
</html>