<!DOCTYPE html>
<html>
<head>
	<title>Report</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="js/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="css/jquery.datetimepicker.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <h2>Cleansing Data Result</h2>
        <form class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-1">Tweet</label>
              <div class="col-md-11">
                : {{ tweet }}
              </div>
            </div>
        </form>
    </div>
</html>